<div class='row entry_form'>
  <div class='row'>
    <p class='col-md-8'>
      <%=(image_tag ('/images/header-logo.png')) %>
    </p>
    <p class='col-md-4' align='right'>
      <%= link_to 'About', welcome_about_path %>
    </p>
  </div>
    <div class='col-md-4 top-bar'>
      <div class='col-md-4 left-side'>
        <%=(image_tag ('/images/header-1.png')) %>
      </div>
      <div class='col-md-8 right-side'>
        <p class='row'>
          <span> Zipcode:</span>
          <input type='text' id='zipo' value='zip' />
          <input type='submit' class="btn btn-large btn-success" id='mysubmit1' value='Go' />
  <!--         <span> Region:</span>
          <%= select_tag(:hardregion, options_for_select([['All', '0'], ['1', '1'],
            ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'],
            ['9', '9'], ['10', '10'], ['11', '11'], ['12', '12'], ['13', '13']], @reg), class:'target') %> -->
          <span id='hardregion'>All</span>
        </p>
      </div>
    </div>

    <div class='col-md-4 top-bar'>
      <div class='col-md-4 left-side'>
        <%=(image_tag ('/images/header-2.png'))%>
      </div>
      <strong>Family:</strong>
      <table class='radio_to_image col-md-8 right-side'>
        <tr>
          <td>
            <%= label_tag(:family_all, 'All') %>
            <p><%= radio_button_tag :family, 'All', radio_truthy('All'), class:'target' %></p>
          </td>

          <td>
            <%= label_tag(:family_veggie, 'Veggie') %>
            <p><%= radio_button_tag :family, 'Veggie', radio_truthy('Veggie'), class:'target' %></p>
          </td>

          <td>
            <%= label_tag(:family_fruit, 'Fruit') %>
            <p><%= radio_button_tag :family, 'Fruit', radio_truthy('Fruit'), class:'target' %></p>
          </td>

          <td>
            <%= label_tag(:family_herb, 'Herb') %>
            <p><%= radio_button_tag :family, 'Herb', radio_truthy('Herb'), class:'target' %></p>
          </td>
        </tr>
      </table>
    </div>
    <%= form_tag(root_path, method: "get") do %>
      <div class='col-md-4 top-bar'>
        <%=(image_tag ('/images/header-3.png'))%>
        <%= hidden_field_tag(:hhregion, @reg) %>
        <%= hidden_field_tag(:hfamily, @fam) %>
        <%= submit_tag("Fetch") %>
      </div>
    <% end %>
</div>
