<p id="notice"><%= notice %></p>
<% if @plant.avatar.exists? %>
  <%= image_tag @plant.avatar%>
<% else %>
  <%=(image_tag ('/images/bear.jpg'))%>
<% end %>
<p><%= @plant.plant_name %></p>
</br>
<p><%= @plant.description %></p>
<p><%= @plant.region %></p>
<p><%= @plant.season %></p>
