<!DOCTYPE html>
<html>
<head>
  <title>Urbanhoe</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <div id="wrap">

    <div class='messages'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>

  </div> <!-- wrap -->

    <div id="footer">
    <div class="container" align="right">
      <div class="col-md-12">
        <%= link_for_admins %>
      </div>
    </div>
  </div>
</body>
</html>
