<!DOCTYPE html>
<html>
<head>
  <title>Urbanhoe</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <div id="wrap">
    <div>
      <%= yield %>
    </div>
    <div class='messages'>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>

  </div> <!-- wrap -->

  <div id="footer">
    <div class="container-fluid row ff" align="left">
      <div class="col-md-4 f1">
        <div>Have questions? Let us help:  <%= mail_to 'urbanhoe14@gmail.com', 'Email' %> </div>
        <span class='tiny'>&copy; 2014, Urbanhoe LLC</span>
      </div>
      <div class="col-md-8 f2" align="right">
        <%= link_for_admins %>
      </div>
    </div>
  </div>
</body>
</html>
